

.table__header{
    display: flex;
    justify-content: space-between;
    background-color: var(--base);
    padding: 15px;

}
.table__cards{
    display: flex;
    flex-direction: column;
  

}
.table__row {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    
    
}
.table__card {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  */
    display: flex;
    gap: 20px; 
    width: 100%;
    align-items: center;
   justify-content: space-between;
    border: 2px solid var(--border);
    padding: 20px 30px;
    border-radius: 20px;
    background-color: var(--base);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    
}


