body {
  font-family: noto-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.product-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 20px;
  background-color: #e4e4e4;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 890px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  font-family: noto-serif;
}

.product-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}

.product-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.info {
  flex: 1;
  text-align: left;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.note {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.p {
  font-size: 16px;
  color: black;
  font-family: noto-serif;
  margin: 0;
}

.product-list-page {
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  min-height: 100vh; /* Занимает всю высоту экрана */
  background-color: #e4e4e4; /* Светлый фон для страницы */
  padding-top: 20px;
}