/* HomePage.css */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 104px);
    padding: 20px;
    text-align: center;
    font-family: noto-serif;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--main_color);
}

.home p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 0;
}

/* Адаптивность для планшетов (ширина экрана до 768px) */
@media (max-width: 768px) {
    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 1.1rem;
    }

    .home {
        padding: 15px;
    }
}

/* Адаптивность для мобильных устройств (ширина экрана до 480px) */
@media (max-width: 480px) {
    .home h1 {
        font-size: 1.8rem;
    }

    .home p {
        font-size: 1rem;
    }

    .home {
        padding: 10px;
    }
}
